body 
{
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	color: #000;
	font-size: 20px;
	background: url('../img/t001.png') left -80px bottom -160px;
	background-repeat: no-repeat;
}
a 
{
	text-decoration: none;
	color: #fff;
}
h2
{
	text-align: center;
}
span.pink
{
	color: #ff0066;
}
#home_container
{
	background: url("../img/home_img.jpg") 0 -60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	position: relative;
}
.mm
{
	width: 100%;
	padding: 15px 0px;
	background-color: rgba(20, 0, 26, 0.35);
	display: flex;
	color: #fff;
	transition: background-color 1.2s;
}
.mm:hover
{
	background-color: rgba(20, 0, 26, 0.55);
}
.mn
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 6px 0px;
	background-color: rgba(20, 0, 26, 1.0);
	display: flex;
	color: #fff;
	z-index: 100;
}
.mn:hover
{
	background-color: rgba(35, 0, 55, 1.0);
}
#logo
{
	font-size: 28px;
	padding: 6px 15px 6px 30px;
}
#menu_button
{
	display: none;
}
#menu
{
	font-size: 22px;
	text-align: right;
	width: auto;
	margin: 0 40px 0 auto;
}
#menu ul
{
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}
#menu ul li 
{
	list-style-type: none;
	display: inline-block;
}
#menu ul li a
{
	display: block;
	padding: 10px 14px 7px 14px;
	transition: border-bottom 0.3s, padding-bottom 0.5s;
}
#menu ul li a:hover
{
	border-bottom: 2px solid #ff0066;
	padding-bottom: 7px;
}
.click_menu
{
	border-bottom: 2px solid #fff;
	padding-bottom: 6px;
}
#move_bar
{
	position: absolute;
	left: 100px;
	bottom: 30vh;
	background-color: rgba(20, 0, 26, 0.45);
	padding: 40px;
	font-size: 28px;
	border-radius: 20px;
	color: #fff;
	transition: background-color 1.2s;
}
#move_bar:hover
{
	background-color: rgba(20, 0, 26, 0.55);
}
#about_me
{
	width: 900px;
	padding: 40px 0px;
	margin: 40px auto;
}
#my_face
{
	float: left;
	width: 320px;
	height: 320px;
	border: 3px solid #444442;
	margin: 40px 20px 0px 0px;
	box-shadow: 12px 10px 10px #808080;
}
#text_about_me
{
	float: left;
	width: 500px;
	padding: 20px;
}
.clear
{
	clear: both;
}
#skills
{
	background-color: rgba(210, 210, 210, 0.5);
	padding: 40px 100px;
}
#tech_box
{
	display: flex;
	width: 100%;
	max-width: 1200px;
	justify-content: center;
	flex-wrap: wrap;
	font-weight: 700;
}
.box1
{
	flex: 33%;
	text-align: center;
}
.box1 img
{
	width: 120px;
	height: 120px;
}
#projects
{
	text-align: center;
}
#projects a:hover
{
	color: #ff0066;
}
#projects_box 
{
	display: flex;
	width: 900px;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0px auto;
}
.box2
{
	background-color: rgba( 233, 233, 233, 0.5);
	flex: 40%;
	width: 420px;
	height: 300px;
	margin: 10px;
	transition: box-shadow 1.5s, opacity 1.5s;
	position: relative;
	opacity: 0.85;
	box-shadow: 8px 8px 20px #333;
}
.box2 img
{
	width: 100%;
	height: 100%;
}
.box2:hover
{
	box-shadow: 10px 8px 10px #333, 0px 0px 12px #4d001f;
	opacity: 1.0;
}
.text_box2
{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding: 16px 0px;
	background-color: rgba(255, 0, 102, 0.5);
	color: #fff;
}
#contact
{
	padding: 140px 250px;
	margin: 40px auto;
	font-size: 24px;
	text-align: center;
	background: url('../img/null.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#contact ul
{
	list-style-type: none;
	
}
footer
{
	background-color: rgba( 242, 242, 242, 0.5);
	text-align: center;
	width: 400px;
	padding: 10px;
	border-radius: 15px;
	margin: 50px auto;
	word-spacing: 5px;
	font-size: 18px;
}

@media only screen and (max-width: 900px)
{
	#home_container
	{
		background: url("../img/home_img.jpg") 0px 0px;
	}
	.mm
	{
		width: 100%;
		padding: 8px 0px;
		height: 42px;
	}
	.mn
	{
		height: 38px;
	}
	#logo
	{
		font-size: 24px;
		padding: 6px 10px 6px 20px;
	}
	#menu_button
	{
		display: block;
		font-size: 32px;
		width: auto;
		border: 2px solid #fff;
		border-radius: 15px;
		margin: 0 40px 0 auto;
		position: relative;
		padding: 0px 20px;
		cursor: pointer;
		transition: color 1s, border-color 1s;
	}
	#menu_button:hover
	{
		color: #ff0066;
		border-color: #ff0066;
	}
	.hide_menu
	{
		font-size: 22px;
		position: absolute;
		top: -2px;
		right: -2px;
		width: 280px;
		border: 3px solid #fff;
	}
	#menu_button ul
	{
		margin: 0px;
		padding: 0px;
		text-transform: uppercase;
		background-color: rgba(20, 0, 26, 1.0);
	}
	#menu_button ul li 
	{
		list-style-type: none;
	}
	#menu_button ul li a
	{
		display: block;
		padding: 10px 40px 7px 80px;
	}
	#menu_button ul li a:hover
	{
		background-color: rgba(35, 0, 55, 1.0);
		color: #ff0066;
	}
	#menu
	{
		display: none;
	}
	#move_bar
	{
		padding: 30px;
		font-size: 24px;
		width: 360px;
	}
	#about_me
	{
		width: 100%;
		padding: 40px 0px;
		margin-left: 40px auto;
	}
	#my_face
	{
		float: none;
		margin: 0px auto 0px auto;
	}
	#text_about_me
	{
		float: none;
		width: 560px;
		margin: 0px auto;
		padding: 20px;
	}
	#skills
	{
		padding: 40px 80px;
	}
	#projects_box 
	{
		display: inline;
		width: 100%;
		margin: 0px;
	}
	.box2
	{
		width: 520px;
		height: 370px;
		margin: 20px auto;
	}
	#contact
	{
		padding: 140px 50px;
		margin: 40px auto;
		font-size: 22px;	
	}
}
	
@media only screen and (max-width: 600px)
{
	body 
	{
		font-size: 18px;
	}
	.hide_menu
	{
		font-size: 22px;
		position: absolute;
		top: 40px;
		right: -2px;
		width: 280px;
		border: none;
	}
	#move_bar
	{
		padding: 20px;
		font-size: 22px;
		width: 285px;
	}
	#text_about_me
	{
		width: auto;
		padding: 30px;
	}
	#skills
	{
		padding: 40px 20px;
	}
	.box2
	{
		width: 420px;
		height: 300px;
		margin: 20px auto;
	}
	#contact
	{
		padding: 60px 40px;
		margin: 40px auto;
		font-size: 20px;	
	}
}